.countdown-container {
  text-align: center;
  position: relative;
  font-family: "Courier New", monospace;
  margin-top: 7%;
  z-index: 100;
  width: 100%;
  transition: margin 600ms;
}

.countdown-container span {
  transition: font-size 600ms;
  font-size: 10vw;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .countdown-container > span {
    font-size: 18vw;
    font-weight: 600;
  }
  .countdown-container {
    margin-top: 25%;
  }
}
