.tooltip {
  margin-left: 20px;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-image: url("../../../images/info-icon.webp");
  transition: margin 400ms;
}

@media only screen and (max-width: 768px) {
  .tooltip {
    margin-left: 10px;
  }
}
