.App {
  font-family: "sans-serif", monospace;
  font-size: 25px;
  height: 100%;
  margin: auto;
  transition: width 600ms;
  width: 70%;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 90%;
  }
}
