html,
body {
  background-color: black;
  background-image: url("./images/mascot.png");
  background-position: 50% 15%;
  transition: background-position 600ms;
  background-repeat: no-repeat;
  background-size: 80vh;
  color: white;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    background-position: 50% 40%;
  }
}
